main {
  width: 50%;
  text-align: center;
  margin: 40px auto;
}

table,
th,
thead,
td {
  border: 1px solid black;
  padding: 9px;
  border-radius: 4px;
}

table,
#search-name {
  margin: 20px auto;
}
